* {
  box-sizing: content-box;
}

body {
  font-family: Helvetica, sans-serif;
  margin: 0;
}

header {
  padding: 5%;
  background: rgb(60, 113, 126);
  color: beige;
  font-size: 50px;
  display: flex;
}

img {
  width: 20%;
  height: auto;
}

nav {
  display: flex;
  background-color: rgb(59, 62, 63);
}

nav a {
  color: beige;
  padding: 14px 50px;
  text-decoration-line: underline;
}
aside {
  font-size: 20px;
  color: rgb(60, 113, 126);
  margin-left: 10%;
}

.project {
  flex: 4;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.card {
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  padding: 10px;
  flex: 0 0 400px;
}

footer {
  
  margin-left: 10%;
  color:rgb(60, 113, 126);
}

footer a {
  
  color:rgb(59, 62, 63);
}

@media screen and (max-width: 768px) {
  main,
  nav {
    flex-direction: column;
  }
}