* {
  box-sizing: content-box;
}

body {
  font-family: Helvetica, sans-serif;
  margin: 0;
}

header {
  padding: 5%;
  text-align: center;
  background: rgb(60, 113, 126);
  color: beige;
  font-size: 50px;
}

nav {
  display: flex;
  background-color: rgb(59, 62, 63);
}

nav a {
  color: beige;
  padding: 14px 20px;
  text-decoration-line: underline;
}